<meta content="article" data-highwire="true" name="og:type">
<meta content="summary" data-highwire="true" name="twitter:card">

<meta content="{{title}}" data-highwire="true" name="citation_title">
<meta content="{{title}}" data-highwire="true" name="og:title">
<meta content="{{title}}" data-highwire="true" name="twitter:title">

<meta content="{{url}}" data-highwire="true" name="og:url">
<meta content="{{url}}" data-highwire="true" name="twitter:url">
<meta content="{{url}}" data-highwire="true" name="citation_abstract_html_url">

<meta content="https://ui.adsabs.harvard.edu/styles/img/transparent_logo.svg" data-highwire="true" name="og:image">
<meta content="https://ui.adsabs.harvard.edu/styles/img/transparent_logo.svg" data-highwire="true" name="twitter:image">

{{#if abstract}}
<meta content="{{abstract}}" data-highwire="true" name="og:description">
<meta content="{{abstract}}" data-highwire="true" name="twitter:description">
{{/if}}
{{#each author}}
<meta content="{{this.name}}" data-highwire="true" name="citation_author">
<meta content="{{this.aff}}" data-highwire="true" name="citation_author_institution"
      xmlns="http://www.w3.org/1999/xhtml">
{{/each}}
{{#if page}}
<meta content="{{page}}" data-highwire="true" name="citation_firstpage">
{{/if}}
{{#if pubdate}}
<meta content="{{pubdate}}" data-highwire="true" name="citation_publication_date">
{{/if}}
{{#if pub}}
<meta content="{{pub_raw}}" data-highwire="true" name="citation_journal_title">
{{/if}}
{{#if volume}}
<meta content="{{volume}}" data-highwire="true" name="citation_volume">
{{/if}}
{{#if issue}}
<meta content="{{issue}}" data-highwire="true" name="citation_issue">
{{/if}}
{{#if doi}}
<meta content="{{doi}}" data-highwire="true" name="citation_doi">
{{/if}}
{{#if issn}}
<meta content="{{issn}}" data-highwire="true" name="citation_issn">
{{/if}}
{{#each keyword}}
<meta content="{{this}}" data-highwire="true" name="citation_keywords">
{{/each}}
{{#if pdfUrl}}
<meta content="{{pdfUrl}}" data-highwire="true" name="citation_pdf_url">
{{/if}}
