<div id="api-response">
  <form>
    <div class="error" id="api-response-error"></div>
    <div class="box">
      <textarea id="api-response-input" key="{{key}}" name="inpu" placeholder="Copy&Paste JSON response here"
                wrap="true">{{input}}</textarea>
    </div>

    <div class="box">
      <textarea disabled="true" id="api-response-result" name="output"
                placeholder="Serialized view of the resulting ApiResponse" wrap="true">{{result}}</textarea>
    </div>

    <button id="api-response-load">Load</button>
    <button id="api-response-run">Run</button>


  </form>
</div>
