<div class="panel-heading">Export Settings</div>

<div class="panel-body" id="export-settings-container">
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal" id="export-settings-form">

        <!-- Default Export Format -->
        <div class="form-group">
          <label for="exportFormat">
            Default Export Format
            <button aria-controls="collapseExportFormat" aria-expanded="false" aria-label="default export format" class="btn-link"
                    data-toggle="collapse" href="#collapseExportFormat">
              <i aria-hidden="true" class="fa fa-question-circle"></i>
            </button>
          </label>
          <p>
          <div class="collapse" id="collapseExportFormat">
            <div class="card card-body">
              <p>
                Select the default export format you would like to use when opening the Export tool.
                <br> (
                <strong>default: {{exportFormatDefault}}</strong>)
              </p>
            </div>
          </div>
          </p>
          <select aria-describedby="collapseExportFormat" class="form-control" id="exportFormat">
            {{#each exportFormatOptions}}
            <option .. this value="{{this}}" {{#compare
            /exportFormatSelected}} selected="selected" {{/compare}}>{{this}}
            </option>
            {{/each}}
          </select>
        </div>

        <!-- Custom Formats -->
        <div class="form-group">
          <label for="addCustomFormat">
            Custom Formats
            <button aria-controls="collapseAddCustomFormat" aria-expanded="false" aria-label="custom formats" class="btn-link"
                    data-toggle="collapse" href="#collapseAddCustomFormat">
              <i aria-hidden="true" class="fa fa-question-circle"></i>
            </button>
          </label>
          <p>
          <div class="collapse" id="collapseAddCustomFormat">
            <div class="card card-body">
              <p>
                Edit your saved custom formats
              </p>
              <p>
                Check out our <a href="/help/actions/export" rel="noreferrer noopener" target="_blank">docs</a> for more
                information.
              </p>
            </div>
          </div>
          </p>
          <p>
            You currently have {{addCustomFormatOptions.length}} format(s) defined.
          </p>
          <div id="addCustomFormat">
            <ul class="list-group col-xs-12">
              {{#each addCustomFormatOptions}}
              <li class="list-group-item clearfix" data-id="{{id}}">
                <div class="col-xs-1">
                  <i aria-hidden="true" class="fa fa-unsorted"></i>
                </div>

                {{#if editing}}
                <div class="col-xs-3">
                  <input class="form-control custom-format-edit" data-id="{{id}}" id="custom-format-name-{{id}}"
                         placeholder="My New Format" type="text" value="{{name}}">
                </div>
                <div class="col-xs-6">
                  <input class="form-control custom-format-edit" data-id="{{id}}" id="custom-format-code-{{id}}"
                         placeholder="%l (%Y), %j, %V, %p.\n" type="text" value="{{code}}">
                </div>
                <span class="col-xs-2 text-right">
                  <button class="btn-link addCustomFormatConfirmEdit" data-id="{{id}}"
                          title="confirm edit">
                    <i aria-hidden="true" class="fa fa-check text-success"></i>
                  </button>
                  <button class="btn-link addCustomFormatCancelEdit" data-id="{{id}}"
                          title="cancel edit">
                    <i aria-hidden="true" class="fa fa-times text-danger"></i>
                  </button>
                </span> {{else}}
                <div class="col-xs-3">
                  <p id="custom-format-name-{{id}}">
                    <strong>{{name}}</strong>
                  </p>
                </div>
                <div class="col-xs-6">
                  <p id="custom-format-code-{{id}}">
                    <code>{{code}}</code>
                  </p>
                </div>
                <span class="col-xs-2 text-right">
                  <button class="btn-link addCustomFormatEdit" data-id="{{id}}"
                          title="edit custom format">
                    <i aria-hidden="true" class="fa fa-pencil text-primary"></i>
                  </button>
                  <button class="btn-link addCustomFormatDelete" data-id="{{id}}"
                          title="delete custom format">
                    <i aria-hidden="true" class="fa fa-times text-danger"></i>
                  </button>
                </span> {{/if}}
              </li>
              {{else}}
              <div class="well">
                Nothing here... Add a new format below
                <br> (its also possible we didn't properly load your custom formats, please try refreshing this page)
              </div>
              {{/each}}
            </ul>
          </div>
          <p>
            <button class="btn btn-primary" id="addCustomFormatAdd">Add</button> &nbsp;
            <span class="text-muted" id="new-format-msg" style="display: none">
              New format added!
            </span>
          </p>
        </div>

        <!-- Set BibTeX key format  -->
        <div class="form-group">
          <label for="bibtexKeyFormat">
            BibTeX Default Export Key Format
            <button aria-controls="collapsebibtexKeyFormat" aria-expanded="false" aria-label="bibtex default export key format" class="btn-link"
                    data-toggle="collapse" href="#collapsebibtexKeyFormat">
              <i aria-hidden="true" class="fa fa-question-circle"></i>
            </button>
          </label>
          <p>
          <div class="collapse" id="collapsebibtexKeyFormat">
            <div class="card card-body">
              <p>
                Select the default key format when exporting in BibTeX (<a href="/help/actions/export"
                                                                           rel="noreferrer noopener" target="_blank">Learn
                More <i
                  aria-hidden="true" class="fa fa-external-link"></i></a>)
              <table class="table">
                <caption>
                  Key format codes and descriptions
                </caption>
                <thead>
                <tr>
                  <th>Code</th>
                  <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><code>%R</code></td>
                  <td>Bibcode</td>
                </tr>
                <tr>
                  <td><code>%nH</code></td>
                  <td>Author, where <code>n</code> can be any number</td>
                </tr>
                <tr>
                  <td><code>%q</code></td>
                  <td>Publication</td>
                </tr>
                <tr>
                  <td><code>%Y</code></td>
                  <td>Year</td>
                </tr>
                <tr>
                  <td><code>%zm</code></td>
                  <td>Enumeration</td>
                </tr>
                </tbody>
              </table>
              <p>* Any other text will be passed as raw strings</p>
              (<strong>default: None</strong>)
              </p>
            </div>
          </div>
          </p>
          <input aria-describedby="collapsebibtexKeyFormat" class="form-control" data-no-convert="true" id="bibtexKeyFormat"
                 maxlength="30" placeholder="%1H:%Y:%q" title="bibtex key format"
                 type="text" value="{{bibtexKeyFormatSelected}}">
        </div>

        <!-- Default TeX Journal Name Handling -->
        <div class="form-group">
          <label for="bibtexJournalFormat">
            TeX Journal Name Handling
            <button aria-controls="collapseBibtexJournalFormat" aria-expanded="false" aria-label="results list side bars" class="btn-link"
                    data-toggle="collapse" href="#collapseBibtexJournalFormat">
              <i aria-hidden="true" class="fa fa-question-circle"></i>
            </button>
          </label>
          <p>
          <div class="collapse" id="collapseBibtexJournalFormat">
            <div class="card card-body">
              <p>
                This setting is used to define how journal names are rendered in the output of the following TeX-based
                formats: BibTeX, BibTeX ABS, and AASTeX. If journal macros are used (default), the following file
                contains the proper journal definitions compatible with most Astronomy Journals: <a
                href="http://adsabs.harvard.edu/abs_doc/aas_macros.html">http://adsabs.harvard.edu/abs_doc/aas_macros.html</a>
                <br> (
                <strong>default: {{bibtexJournalFormatDefault}}</strong>)
              </p>
            </div>
          </div>
          </p>
          <select aria-describedby="collapseBibtexJournalFormat" class="form-control" id="bibtexJournalFormat">
            {{#each bibtexJournalFormatOptions}}
            <option .. this value="{{this}}" {{#compare
            /bibtexJournalFormatSelected}} selected="selected" {{/compare}}>{{this}}
            </option>
            {{/each}}
          </select>
        </div>

        <div class="row">
          <div class="col-sm-5">
            <!-- Set BibTeX key max authors  -->
            <div class="form-group">
              <label for="bibtexMaxAuthors">
                BibTeX Default Export Max Authors
                <a aria-controls="collapsebibtexMaxAuthors" aria-expanded="false" aria-label="bibtex default export max authors" class="btn-link"
                   data-toggle="collapse" href="#collapsebibtexMaxAuthors">
                  <i aria-hidden="true" class="fa fa-question-circle"></i>
                </a>
              </label>
              <p>
              <div class="collapse" id="collapsebibtexMaxAuthors">
                <div class="card card-body">
                  <p>
                    Select the default max number of authors shown when exporting in BibTeX
                    <br> (
                    <strong>default: {{bibtexMaxAuthorsDefault}}</strong>)
                  </p>
                </div>
              </div>
              </p>
              <select aria-describedby="collapsebibtexMaxAuthors" class="form-control" id="bibtexMaxAuthors">
                {{#each bibtexMaxAuthorsOptions}}
                <option .. this value="{{this}}" {{#compare
                /bibtexMaxAuthorsSelected}} selected="selected" {{/compare}}>
                {{this}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="col-sm-5 col-sm-offset-2">
            <!-- Set BibTeX author cutoff  -->
            <div class="form-group">
              <label for="bibtexAuthorCutoff">
                BibTeX Default Author Cutoff
                <button aria-controls="collapsebibtexAuthorCutoff" aria-expanded="false" aria-label="bibtex default author cutoff" class="btn-link"
                        data-toggle="collapse" href="#collapsebibtexAuthorCutoff">
                  <i aria-hidden="true" class="fa fa-question-circle"></i>
                </button>
              </label>
              <p>
              <div class="collapse" id="collapsebibtexAuthorCutoff">
                <div class="card card-body">
                  <p>
                  <p>
                    If the number of authors in the list is larger than the cutoff,
                    the list will be truncated to the max number allowed, otherwise all will be shown.
                  </p>
                  <br> (
                  <strong>default: {{bibtexAuthorCutoffDefault}}</strong>)
                  </p>
                </div>
              </div>
              </p>
              <select aria-describedby="collapsebibtexAuthorCutoff" class="form-control" id="bibtexAuthorCutoff">
                {{#each bibtexAuthorCutoffOptions}}
                <option .. this value="{{this}}" {{#compare
                /bibtexAuthorCutoffSelected}} selected="selected" {{/compare}}>
                {{this}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>

        <!-- Set BibTeX ABS key format  -->
        <div class="form-group">
          <label for="bibtexABSKeyFormat">
            BibTeX ABS Default Export Key Format
            <button aria-controls="collapsebibtexABSKeyFormat" aria-expanded="false" aria-label="bibtex abs default export key format" class="btn-link"
                    data-toggle="collapse" href="#collapsebibtexABSKeyFormat">
              <i aria-hidden="true" class="fa fa-question-circle"></i>
            </button>
          </label>
          <p>
          <div class="collapse" id="collapsebibtexABSKeyFormat">
            <div class="card card-body">
              <p>
                Select the default key format when exporting in BibTeX ABS (<a href="/help/actions/export"
                                                                               rel="noreferrer noopener"
                                                                               target="_blank">Learn More <i
                aria-hidden="true" class="fa fa-external-link"></i></a>)
              <table class="table">
                <caption>
                  Key format codes and descriptions
                </caption>
                <thead>
                <tr>
                  <th>Code</th>
                  <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><code>%R</code></td>
                  <td>Bibcode</td>
                </tr>
                <tr>
                  <td><code>%nH</code></td>
                  <td>Author, where <code>n</code> can be any number</td>
                </tr>
                <tr>
                  <td><code>%q</code></td>
                  <td>Publication</td>
                </tr>
                <tr>
                  <td><code>%Y</code></td>
                  <td>Year</td>
                </tr>
                </tbody>
              </table>
              <p>* Any other text will be passed as raw strings</p>
              (<strong>default: None</strong>)
              </p>
            </div>
          </div>
          </p>
          <input aria-describedby="collapsebibtexABSKeyFormat" class="form-control" data-no-convert="true" id="bibtexABSKeyFormat"
                 maxlength="30" placeholder="%1H:%Y:%q" title="bibtex ABS key format"
                 type="text" value="{{bibtexABSKeyFormatSelected}}">
        </div>

        <div class="row">
          <div class="col-sm-5">
            <!-- Set BibTeX ABS key max authors -->
            <div class="form-group">
              <label for="bibtexABSMaxAuthors">
                BibTeX ABS Default Export Max Authors
                <button aria-controls="collapsebibtexABSMaxAuthors" aria-expanded="false" aria-label="bibtex abs default export max authors"
                        class="btn-link"
                        data-toggle="collapse" href="#collapsebibtexABSMaxAuthors">
                  <i aria-hidden="true" class="fa fa-question-circle"></i>
                </button>
              </label>
              <p>
              <div class="collapse" id="collapsebibtexABSMaxAuthors">
                <div class="card card-body">
                  <p>
                    Select the default max number of authors shown when exporting in BibTeX ABS
                    <br> (
                    <strong>default: {{bibtexABSMaxAuthorsDefault}}</strong>)
                  </p>
                </div>
              </div>
              </p>
              <select aria-describedby="collapsebibtexABSMaxAuthors" class="form-control" id="bibtexABSMaxAuthors">
                {{#each bibtexABSMaxAuthorsOptions}}
                <option .. this value="{{this}}" {{#compare
                /bibtexABSMaxAuthorsSelected}} selected="selected" {{/compare}}>
                {{this}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="col-sm-5 col-sm-offset-2">
            <!-- Set BibTeX ABS author cutoff  -->
            <div class="form-group">
              <label for="bibtexABSAuthorCutoff">
                BibTeX ABS Default Author Cutoff
                <button aria-controls="collapsebibtexABSAuthorCutoff" aria-expanded="false" aria-label="bibtex abs default author cutoff"
                        class="btn-link"
                        data-toggle="collapse" href="#collapsebibtexABSAuthorCutoff">
                  <i aria-hidden="true" class="fa fa-question-circle"></i>
                </button>
              </label>
              <p>
              <div class="collapse" id="collapsebibtexABSAuthorCutoff">
                <div class="card card-body">
                  <p>
                  <p>
                    If the number of authors in the list is larger than the cutoff,
                    the list will be truncated to the max number allowed, otherwise all will be shown.
                  </p>
                  <br> (
                  <strong>default: {{bibtexABSAuthorCutoffDefault}}</strong>)
                  </p>
                </div>
              </div>
              </p>
              <select aria-describedby="collapsebibtexABSAuthorCutoff" class="form-control" id="bibtexABSAuthorCutoff">
                {{#each bibtexABSAuthorCutoffOptions}}
                <option .. this value="{{this}}" {{#compare
                /bibtexABSAuthorCutoffSelected}} selected="selected" {{/compare}}>
                {{this}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
      </form>

      <div class="col-md-6 col-md-offset-3 text-center" id="app-settings-msg">
        {{#if loading}}
        <i aria-hidden="true" class="text-muted fa fa-refresh fa-spin fa-3x"></i> {{/if}} {{#if updateSucceeded}}
        <div class="alert alert-success fade in h4" role="alert">
          <i aria-hidden="true" class="fa fa-check fa-2x"></i> Settings updated successfully
        </div>
        {{/if}} {{#if updateFailed}}
        <div class="alert alert-danger fade in h4" role="alert">
          <i aria-hidden="true" class="fa fa-times fa-3x"></i> Settings not updated, please try again.
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
