{{#if text}}
  <a href="{{links.text.[0].url}}" target="_blank" rel="noopener" class="btn-link active-link s-active-link"
  aria-disabled="false">
  <i class="s-text-icon" aria-label="quick access to full text links"></i>
  </a>
  <ul class="hidden list-unstyled link-details s-link-details" role="menu">

  {{#each links.text}}
    <li><a {{#if this.openAccess}} class="s-open-access" {{/if}} href="{{this.url}}" target="_blank"
        rel="noopener">{{this.name}}</a></li>
  {{/each}}
  </ul>
{{/if}}


{{#if links}}

  <div class="letter-icon s-letter-icon">

    {{#if links.text}}



    {{else}}

      <div title="full text links (none)">
        <a href="javascript:void(0)" class="btn-link disabled" aria-disabled="true" aria-label="full text links">
          <i class="s-text-icon" aria-hidden="true"></i>
        </a>
      </div>

    {{/if}}

  </div>

  <div class="letter-icon s-letter-icon">

    {{#if links.list}}

      <a href="{{links.list.[0].url}}" class="btn-link active-link s-active-link" aria-disabled="false">
        <i class="s-list-icon" aria-label="quick links to lists of references, citations and more"></i>
      </a>

      <ul class="hidden list-unstyled list-unstyled link-details s-link-details" role="menu">

        {{#each links.list}}
          <li><a href="{{this.url}}">{{this.name}}</a></li>
        {{/each}}
      </ul>

    {{else}}
      <div title="references, citations (none)">
        <a href="javascript:void(0)" class="btn-link disabled" aria-disabled="true"
          aria-label="quick links to lists of references, citations etc">
          <i class="s-list-icon" aria-hidden="true"></i>
        </a>
      </div>


    {{/if}}

  </div>
  <div class="letter-icon s-letter-icon">

    {{#if links.data}}

      <a href="{{links.data.[0].url}}" target="_blank" rel="noopener" class="btn-link active-link s-active-link"
        aria-disabled="false">
        <i class="s-data-icon" aria-label="quick links to data associated with this article"></i>
      </a>

      <ul class="hidden list-unstyled link-details s-link-details" role="menu">

        {{#each links.data}}
          <li><a {{#if this.openAccess}} class="s-open-access" {{/if}} href="{{this.url}}" target="_blank"
              rel="noopener">{{this.name}}</a></li>
        {{/each}}
      </ul>

    {{else}}
      <div title="data products (none)">
        <a href="javascript:void(0)" class="btn-link disabled" aria-disabled="true"
          aria-label="quick links to data associated with this article">
          <i class="s-data-icon" aria-hidden="true"></i>
        </a>
      </div>

    {{/if}}

  </div>
{{/if}}
