<div class="s-network-control-panel">
  <div class="detail-panel s-detail-panel">
    <h4 style="display:inline-block">Size wedges based on:</h4>
    <div class="btn-group network-sizes" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input autocomplete="off" checked name="mode" type="radio" value="paper_count"> Number of Papers
      </label>
      <label class="btn btn-primary">
        <input autocomplete="off" name="mode" type="radio" value="total_citations"> Paper Citations
      </label>
      <label class="btn btn-primary">
        <input autocomplete="off" name="mode" type="radio" value="total_reads"> Paper Downloads
      </label>
    </div>
  </div>
</div>
<div class="s-network-graph-div">
  <svg class="network-chart s-network-chart" height="400"
       id="network-viz-main-chart" style="font-family:helvetica,arial,san-serif"
       viewBox="0 0 300 300"
       width="400"
  >
  </svg>

  <a class="hidden" id="download-link"></a>
</div>

