<div class="row">
  <div class="col-md-4">
    <span class="h2">My Libraries</span>
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <input
        aria-label="Search libraries"
        class="form-control"
        id="library-search-bar"
        placeholder="Search libraries"
        type="search"
      />
      <span class="input-group-addon">
        <span aria-hidden="true" class="fa fa-search"> </span>
      </span>
    </div>
  </div>
  <div class="col-md-4">
    <a
      class="btn btn-primary pull-right"
      href="#user/libraries/actions"
      id="library-actions"
      role="button"
    >
      <i aria-hidden="true" class="fa fa-wrench"></i>
      Actions
    </a>
  </div>
</div>
<hr class="hr" />
<div class="row" style="margin-left: 0; margin-right: 0">
  <table class="libraries-list-container table table-hover table-responsive">
    <thead>
    <tr>
      <th class="hide-xs">
        <!--page num -->
        <span class="sr-only">no data</span>
      </th>
      <th class="hide-xs">
        <!--public/private status-->
        <span class="sr-only">no data</span>
      </th>
      <th class="hide-xs">
        <!-- has collaborators -->
        <span class="sr-only">no data</span>
      </th>
      <th>
        Library
        <button
          class="btn btn-xs {{#compare sort 'name'}} s-sort-active {{/compare}} btn-default"
          data-sort='{"sort":"name","type":"string"}'
          title="sort by library name"
        >
          <i aria-hidden="true" class="fa fa-lg fa-sort"></i>{{#compare sort
          'name'}} {{#compare order "asc"}} asc {{else}} desc
          {{/compare}}{{/compare}}
        </button>
      </th>
      <th>
        Papers
        <button
          class="btn btn-xs {{#compare sort 'num_documents'}} s-sort-active {{/compare}} btn-default"
          data-sort='{"sort":"num_documents","type":"int"}'
          title="sort by number of papers"
        >
          <i aria-hidden="true" class="fa fa-lg fa-sort"></i> {{#compare sort
          'num_documents'}} {{#compare order "asc"}} asc {{else}} desc
          {{/compare}}{{/compare}}
        </button>
      </th>
      <th>
        Owner
        <button
          class="btn btn-xs {{#compare sort 'owner'}} s-sort-active {{/compare}} btn-default"
          data-sort='{"sort":"owner","type":"string"}'
          title="sort by owner"
        >
          <i aria-hidden="true" class="fa fa-lg fa-sort"></i> {{#compare sort
          'owner'}} {{#compare order "asc"}} asc {{else}} desc
          {{/compare}}{{/compare}}
        </button>
      </th>
      <th>
        Permission
        <button
          class="btn btn-xs {{#compare sort 'permission'}} s-sort-active {{/compare}} btn-default"
          data-sort='{"sort":"permission","type":"permission"}'
          title="sort by permission status (admin --> read only)"
        >
          <i aria-hidden="true" class="fa fa-lg fa-sort"></i> {{#compare sort
          'permission'}} {{#compare order "asc"}} asc {{else}} desc
          {{/compare}}{{/compare}}
        </button>
      </th>
      <th class="hide-xxs">
        Last Modified
        <button
          class="btn btn-xs {{#compare sort 'date_last_modified'}} s-sort-active {{/compare}} btn-default hide-xxs"
          data-sort='{"sort":"date_last_modified","type":"date"}'
          title="sort by last modified"
        >
          <i aria-hidden="true" class="fa fa-lg fa-sort"></i> {{#compare sort
          'date_last_modified'}} {{#compare order "asc"}} asc {{else}} desc
          {{/compare}}{{/compare}}
        </button>
      </th>
    </tr>
    </thead>

    <tbody></tbody>
  </table>
</div>
