<li class="dropdown">
  <a href="javascript:void(0);" class="dropdown-toggle feedback-button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    Feedback <span class="caret" aria-hidden="true"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a href="javascript:void(0);" data-target="#feedback-modal" data-toggle="modal" data-feedback-view="list">
        <i class="fa fa-pencil" aria-hidden="true"></i> Submit Updates
      </a>
    </li>
    <li>
      <a href="javascript:void(0);" data-target="#feedback-modal" data-toggle="modal" data-feedback-view="general">
        <i class="fa fa-envelope" aria-hidden="true"></i> General Feedback
      </a>
    </li>
  </ul>
</li>
