<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse-container">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar" aria-hidden="true"></span>
  <span class="icon-bar" aria-hidden="true"></span>
  <span class="icon-bar" aria-hidden="true"></span>
</button>
<a class="navbar-brand s-navbar-brand" href="#">
  <img class="s-ads-icon" src="/styles/img/transparent_logo.svg" alt="ads icon"/>
  <h1 style="font-weight: bold;">ads</h1>
</a>
