<div role="search">
  <div class="row">
    <h2 class="sr-only">Search Bar to Enter New Query</h2>
    <div aria-label="quick add fields" class="col-sm-12 s-quick-add">
      <div class="unselectable" id="expanded-search-form">
        <div id="field-options">
          <span class="s-field-options">quick field:</span>

          <span class="visible-sm-inline visible-md-inline visible-lg-inline">
            <button class="btn btn-link btn-sm" data-field="author"
                    data-punc='"' data-toggle="tooltip" title='search for an author, e.g. author:"Kurtz,M"'>Author</button>
            <button class="btn btn-link btn-sm" data-field="first-author"
                    data-punc='"' data-toggle="tooltip" title='search for a first author, e.g. author:"^Kurtz,M"'>First Author</button>
            <button class="btn btn-link btn-sm" data-field="abs"
                    data-punc='"' data-toggle="tooltip" title="limit search to abstract, title and keyword fields">Abstract</button>
          </span>

          <span class="visible-lg-inline">
            <button class="btn btn-link btn-sm" data-field="year" data-toggle="tooltip"
                    title="e.g. year:1999 or year:1999-2016">Year</button>
            <button class="btn btn-link btn-sm"
                    data-field="full"
                    data-punc='"' data-toggle="tooltip" title="search titles, abstract, text, keywords and acknowledgements of the articles">Fulltext</button>
          </span>

          <!--container for additional fields/operators-->
          <span id="option-dropdown-container"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row"></div>
  <div class="row">
    <div class="col-sm-12 search-bar-input-row s-search-bar-input-row">
      <form action="/search/q=%s" name="main-query">
        <div class="form-group has-feedback">
          <div class="input-group">
            {{#if bigquery}} {{#if libraryName}}
            <div class="btn btn-xs btn-info bigquery-tag">
              <i aria-hidden="true" class="fa fa-book"></i>&nbsp;<span>{{libraryName}}</span>&nbsp;<i
              aria-hidden="true" class="fa fa-close fa-lg bigquery-close" title="click to remove"></i></div>
            {{else}}
            <div class="btn btn-xs btn-info bigquery-tag"><i aria-hidden="true" class="fa fa-list-ul"></i>&nbsp;&nbsp;Bulk
              query&nbsp;&nbsp;<i aria-hidden="true" class="fa fa-close fa-lg bigquery-close"
                                  title="click to remove"></i></div>
            {{/if}}
            <label clas="sr-only" for="query-search-input">ADS search</label>
            <input aria-label="Start typing a query here to begin an ADS Search" autocomplete="off" autofocus class="form-control q hasbigquery" id="query-search-input"
                   name="q" type="text"
                   value={{currentQueryVal}}>


            <button class="icon-clear s-clear-control" type="button"></button>

            {{else}}
            <input aria-label="Start typing a query here to begin an ADS Search" autocomplete="off" autofocus class="form-control q" id="query-search-input"
                   name="q" type="text"
                   value={{currentQueryVal}}>

            <button class="icon-clear s-clear-control" type="button"></button>

            {{/if}}
            <span class="input-group-btn">
                      <button aria-label="submit" class="btn btn-primary search-submit s-search-submit" type="submit">
                          <i aria-hidden="true" class="fa fa-search"></i></button>
                  </span>

          </div>
          <!-- /input-group -->
        </div>
        <!-- /form-group-->
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div aria-atomic="true" aria-labelledby="num-found-title" class="s-num-found" role="status">
    <div class="sr-only" id="num-found-title">
      Your search returned {{numFound}} results
      {{#if citationCount}}
      with {{citationCount}} total {{citationLabel}}
      {{/if}}
    </div>
    <span class="s-light-font description">Your search returned</span>
    <span class="num-found-container" style="font-weight: bold;">{{numFound}}</span>
    <span class="s-light-font"> results </span>
    {{#if citationCount}}
    <span class="search-bar__citation-count"> with <span class="citation-count-container" style="font-weight: bold;">{{citationCount}}</span>
        <span class="s-light-font description">total {{citationLabel}} </span>
      </span>
    {{/if}}
  </div>
</div>
</div>
