<div class="abstract-nav s-abstract-nav s-abstract-nav-inactive" id="abstract">
    <a href="#abs/{{bibcode}}/abstract">Abstract</a>
</div>
<div class="abstract-nav s-abstract-nav s-abstract-nav-inactive" id="references">
    <a href="#abs/{{bibcode}}/references">References</a>
    <span class="num-items"></span>
    </div>
<div class="abstract-nav s-abstract-nav s-abstract-nav-inactive" id="citations">
    <a href="#abs/{{bibcode}}/citations">Citations</a>
    <span class="num-items"></span>
</div>
<div class="abstract-nav s-abstract-nav s-abstract-nav-inactive" id="coReads">
    <a href="#abs/{{bibcode}}/co-reads">Co-Reads</a>
    <span class="num-items"></span>
</div>
<div class="abstract-nav s-abstract-nav s-abstract-nav-inactive" id="similarArticles">
    <a href="#abs/{{bibcode}}/similar">Similar Articles</a>
    <span class="num-items"></span>
</div>
<div class="abstract-nav s-abstract-nav s-abstract-nav-inactive" id="tableOfContents">
    <a href="#abs/{{bibcode}}/tableofcontents">Table of Contents</a>
    <span class="num-items"></span>
</div>


