{{#if section}}
<li class="dropdown-header no-hover-style" role="presentation">
  {{section}}
  {{#if icon}}
  <a class="pull-right dropdown-helper-icon" href="{{icon.href}}" rel="noreferrer noopener" target="_blank"
     title="{{icon.description}}"><i class="{{icon.class}}"></i></a>
  {{/if}}
</li>
{{else}}
{{#if divider}}
<li class="divider" role="presentation"></li>
{{else}}
<li role="presentation">
  <a href="{{this.href}}" role="menuitem" tabindex="-1">{{this.description}}</a>
</li>
{{/if}}
{{/if}}
