<div class="panel panel-default s-form-container">
  <legend class="panel-heading"> Change Your Password</legend>
  <form class="panel-body">
    <div class="form-group has-feedback">
      <label class="control-label" for="old_password"> Current password </label>
      <span class="help-block no-show s-help-block"></span>
      <input class="form-control" id="old_password" name="old_password" type="password">
    </div>
    <div class="form-group has-feedback">
      <label class="control-label" for="new_password1"> New password </label>
      <span class="help-block no-show s-help-block"></span>
      <div class="s-user-help">Passwords should be at least eight characters and include at least one number and one
        capital letter.
      </div>
      <input class="form-control" id="new_password1" name="new_password1" type="password">
    </div>
    <div class="form-group has-feedback">
      <label class="control-label" for="new_password2"> Retype new password </label>
      <span class="help-block no-show s-help-block"></span>
      <input class="form-control" id="new_password2" name="new_password2" type="password">
    </div>
    <div class="form-group">
      <button class="btn btn-primary-faded" type="submit">Submit</button>
      <span class="help-block no-show s-help-block"></span>
    </div>
  </form>
</div>
